---
import Map from '../components/map.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Yamasaki Design Landing Page</title>
	</head>
	<body>
		<Map client:load />
	</body>
</html>


<style lang="scss">
	body {
		padding: 0;
		margin: 0;
		overflow:hidden;
	}
</style>
