---
import Map from '../components/map.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width">
		<title>Yamasaki Design Landing Page</title>
	</head>
	<body>
		<Map client:load />
		<footer>
			<p>&copy; Copyright 2024 - Brian Yamasaki</p>
		</footer>

	</body>
</html>


<style lang="scss">
	html {
		height: 100%;
		background-color: #271516;
	}
	body {
		padding: 0;
		margin: 0;
	}
	footer {
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		text-align: center;
		color: white;
		margin: 1rem;
	}
</style>
