---
const currentYear = new Date().getFullYear()
---

<footer>
  <p>&copy; Copyright 2024 - {currentYear} &ndash; Brian Yamasaki</p>
</footer>

<style>
	footer {
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		text-align: center;
		color: white;
		margin: 1rem;
	}

</style>